@import url("bootstrap.css");

.centered {
  text-align: center;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

*:focus {
  outline: 0 !important;
}

.flex-center {
   display: flex;
   align-items: center;
   flex-flow: row wrap;
}

.flex-title {
  flex: 1 100%;
}

.flex-calendar {
  flex: 1;
  width: 85%;
}

#incHours {
  right: 105px;
  top: 15px;
}

#incMinutes {
  right: 50px;
  top: 15px;
}

#decHours {
  right: 105px;
  bottom: 8px;
}

#decMinutes {
  right: 50px;
  bottom: 8px;
}

.calc-btn {
  width: 50px;
  height: 50px;
  margin: 1px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  position: relative;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  border-bottom: 10px solid grey;
}

.arrow-down {
  width: 0; 
  height: 0; 
  position: relative;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  border-top: 10px solid grey;
}

.arrow-left {
  width: 0; 
  height: 0;
  margin: 10px; 
  border-right: 10px solid grey; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.arrow-right {
  width: 0; 
  height: 0;
  margin: 10px;
  position: relative;
  border-left: 10px solid grey; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
