.note {
  height: 300px;
  max-height: 300px;
  width: 450px;
  max-width: 450px;
}

.left-panel {
  background-color: red;
  height: 80vh;
  width: 200px;
}

.saved-note {
  background-color: blue;
  height: 100px;
  width: 196px;
  margin: 2px;
}
