.note {
  height: 300px;
  max-height: 300px;
  width: 450px;
  max-width: 450px;
}

.left-panel {
  height: 85vh;
  width: 200px;
  padding: 0;
  overflow: auto;
}

.saved-note {
  background-color: #333333;
  height: 100px;
  width: 96%;
  margin: 2%;
}

.saved-note:hover {
  background-color: #111111;
}
